<!-- Google Material Icons (outlined set) -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">

<div class="stat-cards">
  <!-- Card 1 -->
  <div class="stat-card">
    <span class="material-icons-outlined icon">mail</span>
    <div class="number">15</div>
    <div class="label">Recous aujourd’hui</div>
  </div>

  <!-- Card 2 -->
  <div class="stat-card">
    <span class="material-icons-outlined icon">send</span>
    <div class="number">7</div>
    <div class="label">Envoyés aujourd’hui</div>
  </div>

  <!-- Card 3 -->
  <div class="stat-card">
    <span class="material-icons-outlined icon">schedule</span>
    <div class="number">12</div>
    <div class="label">En attente<br />de traitement</div>
  </div>
</div>
